<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Дартс</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">
	<link rel="stylesheet" href="css/nanoscroller.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="bg"></div>
	<div id="app">
		<transition name="message">
			<div class="message" v-if="notification">
				{{ notification }}
			</div>
		</transition>
		<transition name="fade">
			<div
				id="overlay"
				v-show="!overlayClosed"
			>
			<div class="pick"
				v-show="!overlayClosed"
			>
				<div class="pick-players-list nano">
					<div class="nano-content">
						<transition-group name="players">
							<div
								v-for="(player, index) in freePlayers"
								:key="player.id"
								class="player player-pick"
								@click="player.picked = true; pickedPlayers.push(player); updateScroll()"
							>
							<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
							<p>{{ player.name }}</p></div>
						</transition-group>
					</div>
				</div>
				<div class="start-play" @click="startPlay">Играть</div>
				<div class="aside">
					<div class="add-player">
						<h6>Добавить игрока</h6>
						<form name="adding" id="adding" @submit.prevent="addPlayer">
							<input type="text" class="input-text" v-model="newName">
							<input value="Добавить" class="input-add" type="submit">
						</form>
						<img src="img/avatars/noname.png" alt="" class="new-avatar" @click="openAvatarLib">
					</div>
					<div class="choosen nano">
						<div class="nano-content">
							<h6>Выбранные игроки</h6>
							<transition-group name="players">
								<div
									v-for="(player, index) in pickedPlayers"
									:key="player.id"
									class="player player-choosen"
									@click="players[player.id].picked = false; pickedPlayers.splice(index, 1); updateScroll()"
								>
								<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
								<p>{{ player.name }}</p></div>
							</transition-group>
						</div>
					</div>
				</div>
			</div>
	
		
		</div>
		</transition>
		<transition name="fade">
			<div
				id="overlay"
				style="z-index: 950"
				@click="closeAvatarLib"
				v-show="avatarChoosing"
			>
				<div class="avatar-lib nano" @click.stop="">
					<div class="nano-content">

					</div>
				</div>
			</div>
		</transition>


		<div id="field" class="container text">
			<div class="container x2">
				<div
					v-for="(sector, index) in sectors"
					:key="sector.value"
					:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
					:points="index * 2"
					class="sector"
					@click="shoot(sector.value * 2);"
				></div>
				<div class="container big">
						<div
							v-for="(sector, index) in sectors"
							:key="sector.value"
							:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
							:points="index"
							class="sector"
							@click="shoot(sector.value);"
						></div>
					<div class="container x3">
							<div
								v-for="(sector, index) in sectors"
								:key="sector.value"
								:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
								:points="index * 3"
								class="sector"
								@click="shoot(sector.value * 3)"
							></div>
						<div class="container small">
								<div
									v-for="(sector, index) in sectors"
									:key="sector.value"
									:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
									:points="index"
									class="sector"
									@click="shoot(sector.value)"
								></div>
							<div class="mid25"
								@click="shoot(25);"
							></div>
							<div class="mid50"
								@click="shoot(50);"
								></div>
						</div>
					</div>		
				</div>
			</div>
		</div>
		<div class="players">
			<div
				v-for="player in pickedPlayers"
			>{{ player.name }} - {{ player.points }}</div>
		</div>

</div>
	<script src="js/scripts.min.js"></script>

</body>
</html>
