<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Дартс</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->
	<link rel="stylesheet" href="css/nanoscroller.css">

	<link rel="stylesheet" href="css/main.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="bg"></div>
	<div id="app">
		<transition name="message">
			<div class="message" v-if="notification">
				{{ notification }}
			</div>
		</transition>
		<transition name="fade">
			<div
				id="overlay"
				style="z-index: 960"
				v-show="deleteConf"
			>
				<div class="turn-end delete-msg">
					<p class="turn-info  delete-text"></p>
					<form name="deleting" id="deleting" @submit.prevent="deleteUser">
						<input type="text" class="input-text" v-model="deleteSecret" placeholder="Введите секретный код">
						<div class="turn-correct turn-btn" @click="deleteConf = false">Отмена</div>
						<input value="Удалить" class="turn-next turn-btn delete-btn" type="submit">
					</form>
				</div>
			</div>
		</transition>
		<transition name="fade">
			<div
				id="overlay"
				v-if="!overlayClosed"
			>
			<div class="pick"
			>
				<div class="pick-players-list nano">
					<div class="nano-content">
						<h6>Выберите игроков</h6>
						<transition-group name="players">
							<div
								v-for="(player, index) in freePlayers"
								:key="player.id"
								class="player player-pick"
								@click="pickPlayer(player)"
							>
								<div class="delete" @click.stop="goDelete(player)"></div>
								<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
								<div class="player-name">{{ player.name }}</div>
							</div>
						</transition-group>
					</div>
				</div>
				<div class="start-play" @click="startPlay">Играть</div>
				<div class="aside">
					<div class="add-player">
						<h6>Добавить игрока</h6>
						<form name="adding" id="adding" @submit.prevent="addPlayer">
							<input type="text" class="input-text" v-model="newName" placeholder="Введите имя">
							<input value="Добавить" class="input-add" type="submit">
						</form>
						<img src="img/avatars/noname.png" alt="" class="new-avatar" @click="openAvatarLib">
					</div>
					<div class="choosen nano">
							<h6>Выбранные игроки</h6>
							<div class="nano-content">
							<transition-group name="players">
								<div
									v-for="(player, index) in pickedPlayers"
									:key="player.id"
									class="player player-choosen"
									@click="removePlayer(player, index)"
								>
									<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
									<div class="player-name">{{ player.name }}</div>
								</div>
							</transition-group>
						</div>
					</div>
				</div>
			</div>


		</div>
		</transition>
		<transition name="fade">
			<div
				id="overlay"
				style="z-index: 950"
				@click="closeAvatarLib"
				v-show="avatarChoosing"
			>
				<div class="avatar-lib nano" @click.stop="">
					<div class="nano-content">
					</div>
				</div>
			</div>
		</transition>

		<transition name="fade">
			<div
				id="midlay"
				style="z-index: 960"
				v-if="turnEnded"
			>
				<div class="turn-end">
					<p class="turn-info">
						{{ pickedPlayers[currentPlayer].name }} бросил на {{ currentPoints }} очков
					</p>
					<div class="turn-correct turn-btn" @click="correct">Корректировать</div>
					<div class="turn-next turn-btn" v-if="currentPlayer == pickedPlayers.length - 1 && currentSector == 50" @click="nextTurn">Завершить</div>
					<div class="turn-next turn-btn" v-else @click="nextTurn">Следующий!</div>
				</div>
			</div>
		</transition>
		<transition name="fade">
			<div
				id="midlay"
				style="z-index: 960"
				v-if="gameover"
			>
				<div class="gameover turn-end">
					<p class="turn-info">
						{{ playersRating[0].name }} победил со счетом {{ playersRating[0].points }} очков!!!
					</p>
					<div class="turn-next turn-btn" @click="reload">Новая игра!</div>
				</div>
			</div>
		</transition>

		<div class="player-active-list nano">
			<template>
				<div class="nano-content">
					<div
						v-for="(player, index) in pickedPlayers"
						:key="player.id"
						:class="['player', 'player-active', {'active': index == currentPlayer, showstat: player.statsShown, global: player.globalShown }]"
					>
						<div class="player-active-wrapper">
							<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
							<div class="player-name">{{ player.name }}</div>
						</div>
						<img src="img/stats.png" alt="Статистика"
							class="player-stats"
							@click="player.statsShown = !player.statsShown">
						<p class="player-points">Очки: {{ player.points }}</p>
						<div class="player-info">
							<div class="player-info-global" @click="player.globalShown = !player.globalShown">
								Глобальная
							</div>
							<template v-if="!player.globalShown">
								<p>Бросков: <span :class="{ 'red': player.stats.shoots == 0 }">{{ player.stats.shoots }}</span></p>
								<p>Попаданий: <span :class="{ 'red': player.stats.single + player.stats.double + player.stats.triple + player.stats.outer + player.stats.inner == 0 }">{{ player.stats.single + player.stats.double + player.stats.triple + player.stats.outer + player.stats.inner }}</span></p>
								<p>Точность: <span :class="[{ 'red': player.stats.single + player.stats.double + player.stats.triple + player.stats.outer + player.stats.inner == 0 }, 'ignore']">{{ player.stats.shoots > 0 ? ((player.stats.single + player.stats.double + player.stats.triple + player.stats.outer + player.stats.inner) / player.stats.shoots * 100).toFixed(0) : 0 }}%</span></p>
								<p>Не в тот сектор: <span :class="{ 'red': player.stats.another == 0 }">{{ player.stats.another }}</span></p>
								<p>Не попал в мишень: <span :class="{ 'red': player.stats.zero == 0 }">{{ player.stats.zero }}</span></p>
								<p>В большой круг: <span :class="{ 'red': player.stats.big == 0 }">{{ player.stats.big }}</span></p>
								<p>В малый круг: <span :class="{ 'red': player.stats.small == 0 }">{{ player.stats.small }}</span></p>
								<p>Удвоений: <span :class="{ 'red': player.stats.double == 0 }">{{ player.stats.double }}</span></p>
								<p>Утроений: <span :class="{ 'red': player.stats.triple == 0 }">{{ player.stats.triple }}</span></p>
								<p>В 25: <span :class="{ 'red': player.stats.outer == 0 }">{{ player.stats.outer }}</span></p>
								<p>В 50: <span :class="{ 'red': player.stats.inner == 0 }">{{ player.stats.inner }}</span></p>
								<p>В соседний сектор: <span :class="{ 'red': player.stats.sibling == 0 }">{{ player.stats.sibling }}</span></p>
								<p>Промахов по середине: <span :class="{ 'red': player.stats.middleMiss == 0 }">{{ player.stats.middleMiss }}</span></p>
								<p class="set-start">Результаты за сет:</p>
								<p class="set">0 попаданий: <span :class="[{ 'red': player.stats.misshot == 0 }, 'ignore']">{{ player.stats.misshot }} ({{ player.stats.misshot > 0 ? (player.stats.misshot / player.stats.shoots * 3 ).toFixed(2) * 100 : 0 }}%)</span></p>
								<p class="set">1 попадание: <span :class="[{ 'red': player.stats.oneshot == 0 }, 'ignore']">{{ player.stats.oneshot }} ({{ player.stats.oneshot > 0 ? (player.stats.oneshot / player.stats.shoots * 300).toFixed(0) : 0 }}%)</span></p>
								<p class="set">2 попадания: <span :class="[{ 'red': player.stats.twoshot == 0 }, 'ignore']">{{ player.stats.twoshot }} ({{ player.stats.twoshot > 0 ? (player.stats.twoshot / player.stats.shoots * 300).toFixed(0) : 0 }}%)</span></p>
								<p class="set">3 попадания: <span :class="[{ 'red': player.stats.threeshot == 0 }, 'ignore']">{{ player.stats.threeshot }} ({{ player.stats.threeshot > 0 ? (player.stats.threeshot / player.stats.shoots * 300).toFixed(0) : 0 }}%)</span></p>
							</template>
							<template v-else>
								<p>Игр: <span :class="{ 'red': player.globalStats.games == 0 }">{{ player.globalStats.games }}</span></p>
								<p>Максимум за игру: <span :class="{ 'red': player.globalStats.maxScores == 0 }">{{ player.globalStats.maxScores }}</span></p>
								<p>Минимум за игру: <span :class="{ 'red': player.globalStats.minScores == 0 || player.globalStats.minScores == 9999}">{{ player.globalStats.minScores == 9999 ? 0 : player.globalStats.minScores }}</span></p>
								<p>Среднее за игру: <span :class="{ 'red': player.globalStats.games == 0 }">{{ player.globalStats.games > 0 ? player.globalStats.points / player.globalStats.games : 0 }}</span></p>
								<p>Попаданий: <span :class="{ 'red': player.globalStats.single + player.globalStats.double + player.globalStats.triple + player.globalStats.outer + player.globalStats.inner == 0 }">{{ player.globalStats.single + player.globalStats.double + player.globalStats.triple + player.globalStats.outer + player.globalStats.inner }}</span></p>
								<p>Точность: <span :class="[{ 'red': player.globalStats.single + player.globalStats.double + player.globalStats.triple + player.globalStats.outer + player.globalStats.inner == 0 }, 'ignore']">{{ player.globalStats.games > 0 ? ((player.globalStats.single + player.globalStats.double + player.globalStats.triple + player.globalStats.outer + player.globalStats.inner) / player.globalStats.shoots * 100).toFixed(0) : 0 }}%</span></p>
								<p>Не в тот сектор: <span :class="{ 'red': player.globalStats.another == 0 }">{{ player.globalStats.another }}</span></p>
								<p>Не попал в мишень: <span :class="{ 'red': player.globalStats.zero == 0 }">{{ player.globalStats.zero }}</span></p>
								<p>В большой круг: <span :class="{ 'red': player.globalStats.big == 0 }">{{ player.globalStats.big }}</span></p>
								<p>В малый круг: <span :class="{ 'red': player.globalStats.small == 0 }">{{ player.globalStats.small }}</span></p>
								<p>Удвоений: <span :class="{ 'red': player.globalStats.double == 0 }">{{ player.globalStats.double }}</span></p>
								<p>Утроений: <span :class="{ 'red': player.globalStats.triple == 0 }">{{ player.globalStats.triple }}</span></p>
								<p>В 25: <span :class="{ 'red': player.globalStats.outer == 0 }">{{ player.globalStats.outer }}</span></p>
								<p>В 50: <span :class="{ 'red': player.globalStats.inner == 0 }">{{ player.globalStats.inner }}</span></p>
								<p>В соседний сектор: <span :class="{ 'red': player.globalStats.sibling == 0 }">{{ player.globalStats.sibling }}</span></p>
								<p>Промахов по середине: <span :class="{ 'red': player.globalStats.middleMiss == 0 }">{{ player.globalStats.middleMiss }}</span></p>
								<p class="set-start">Результаты за сет:</p>
								<p class="set">0 попаданий: <span :class="[{ 'red': player.globalStats.misshot == 0 }, 'ignore']">{{ player.globalStats.misshot }} ({{ player.globalStats.misshot > 0 ? (player.globalStats.misshot / player.globalStats.shoots * 300).toFixed(0) : 0 }}%)</span></p>
								<p class="set">1 попадание: <span :class="[{ 'red': player.globalStats.oneshot == 0 }, 'ignore']">{{ player.globalStats.oneshot }} ({{ player.globalStats.oneshot > 0 ? (player.globalStats.oneshot / player.globalStats.shoots * 300).toFixed(0) : 0 }}%)</span></p>
								<p class="set">2 попадания: <span :class="[{ 'red': player.globalStats.twoshot == 0 }, 'ignore']">{{ player.globalStats.twoshot }} ({{ player.globalStats.twoshot > 0 ? (player.globalStats.twoshot / player.globalStats.shoots * 300).toFixed(0) : 0 }}%)</span></p>
								<p class="set">3 попадания: <span :class="[{ 'red': player.globalStats.threeshot == 0 }, 'ignore']">{{ player.globalStats.threeshot }} ({{ player.globalStats.threeshot > 0 ? (player.globalStats.threeshot / player.globalStats.shoots * 300).toFixed(0) : 0 }}%)</span></p>
							</template>
						</div>
					</div>
				</div>
				<div class="set-points" v-if="!gameover">
					<div class="first">{{ first }}</div>
					<div class="second">{{ second }}</div>
					<div class="third">{{ third }}</div>
				</div>
			</template>
		</div>
		<div class="game">
			<div class="game-labels">
				<p>Текущий сектор: {{ currentSector }}</p>
				<h6>Рейтинг игроков:</h6>
			</div>
			<div class="player-record-list nano">
				<div class="nano-content">
					<transition-group name="players">
						<div
							v-for="(player, index) in playersRating"
							:key="player.id"
							:class="['player', 'player-active', {'gold': (index == 0 && player.points > 0), 'silver': (index == 1 && player.points > 0), 'bronze': (index == 2 && player.points > 0)}]"
						>
							<div class="player-active-wrapper">
								<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
								<div class="player-name">{{ player.name }}</div>
							</div>
							<!-- <img src="img/stats.png" alt="Статистикаы" class="player-stats"> -->
							<p class="player-points">Очки: {{ player.points }}</p>
						</div>
					</transition-group>
				</div>
			</div>

		</div>


		<div id="field" @click.stop="shoot(0, false, 0)" class="text">
			<div class="container x2">
				<div
					v-for="(sector, index) in sectors"
					:key="sector"
					:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
					:points="index * 2"
					class="sector"
					@click.stop="shoot(sector, sector == currentSector, 2);"
				></div>
				<div class="container big">
						<div
							v-for="(sector, index) in sectors"
							:key="sector"
							:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
							:points="index"
							class="sector"
							@click.stop="shoot(sector, sector == currentSector, 1);"
						></div>
					<div class="container x3">
							<div
								v-for="(sector, index) in sectors"
								:key="sector"
								:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
								:points="index * 3"
								class="sector"
								@click.stop="shoot(sector, sector == currentSector, 3)"
							></div>
						<div class="container small">
								<div
									v-for="(sector, index) in sectors"
									:key="sector"
									:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
									:points="index"
									class="sector"
									@click.stop="shoot(sector, sector == currentSector, 1, true)"
								></div>
							<div class="mid25"
								@click.stop="shoot(25, 50 == currentSector, 1);"
							></div>
							<div class="mid50"
								@click.stop="shoot(25, 50 == currentSector, 2);"
								></div>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>
	<script src="js/scripts.min.js"></script>

</body>
</html>
