<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Дартс</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">
	<link rel="stylesheet" href="css/nanoscroller.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="bg"></div>
	<div id="app">
		<transition name="message">
			<div class="message" v-if="notification">
				{{ notification }}
			</div>
		</transition>
		<transition name="fade">
			<div
				id="overlay"
				v-if="!overlayClosed"
			>
			<div class="pick"
			>
				<div class="pick-players-list nano">
					<div class="nano-content">
						<h6>Выберите игроков</h6>
						<transition-group name="players">
							<div
								v-for="(player, index) in freePlayers"
								:key="player.id"
								class="player player-pick"
								@click="player.picked = true; pickedPlayers.push(player); updateScroll()"
							>
							<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
							<div class="player-name">{{ player.name }}</div></div>
						</transition-group>
					</div>
				</div>
				<div class="start-play" @click="startPlay">Играть</div>
				<div class="aside">
					<div class="add-player">
						<h6>Добавить игрока</h6>
						<form name="adding" id="adding" @submit.prevent="addPlayer">
							<input type="text" class="input-text" v-model="newName">
							<input value="Добавить" class="input-add" type="submit">
						</form>
						<img src="img/avatars/noname.png" alt="" class="new-avatar" @click="openAvatarLib">
					</div>
					<div class="choosen nano">
						<div class="nano-content">
							<h6>Выбранные игроки</h6>
							<transition-group name="players">
								<div
									v-for="(player, index) in pickedPlayers"
									:key="player.id"
									class="player player-choosen"
									@click="players[player.id - 1].picked = false; pickedPlayers.splice(index, 1); updateScroll()"
								>
									<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
									<div class="player-name">{{ player.name }}</div>
								</div>
							</transition-group>
						</div>
					</div>
				</div>
			</div>
	
		
		</div>
		</transition>
		<transition name="fade">
			<div
				id="overlay"
				style="z-index: 950"
				@click="closeAvatarLib"
				v-show="avatarChoosing"
			>
				<div class="avatar-lib nano" @click.stop="">
					<div class="nano-content">
					</div>
				</div>
			</div>
		</transition>

		<transition name="fade">
			<div
				id="overlay"
				style="z-index: 960"
				v-if="turnEnded"
			>
				<div class="turn-end">
					<p class="turn-info">
						{{ pickedPlayers[currentPlayer].name }} бросил на {{ currentPoints }} очков
					</p>
					<div class="turn-correct turn-btn" @click="correct">Корректировать</div>
					<div class="turn-next turn-btn" v-if="currentPlayer == pickedPlayers.length && currentSector == 50" @click="nextTurn">Завершить</div>
					<div class="turn-next turn-btn" v-else @click="nextTurn">Следующий!</div>
				</div>
			</div>
		</transition>
		<transition name="fade">
			<div
				id="gameover"
				style="z-index: 960"
				v-if="gameover"
			>
				<div class="gameover">
					<p class="turn-info">
						{{ playersRating[0].name }} победил со счетом {{ playersRating[0].points }} очков!!!
					</p>
					<div class="turn-next turn-btn" @click="reload">Новая игра!</div>
				</div>
			</div>
		</transition>

		<div class="player-active-list">
			<template v-if="!gameover">
				<div
					v-for="(player, index) in pickedPlayers"
					:key="player.id"
					:class="['player', 'player-active', {'active': index == currentPlayer}]"
				>
					<div class="player-active-wrapper">
						<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
						<div class="player-name">{{ player.name }}</div>
					</div>
					<img src="img/stats.png" alt="Статистикаы" class="player-stats">
					<p class="player-points">Очки: {{ player.points }}</p>
				</div>
			</template>
		</div>
		<div class="game">
			<div class="game-labels">
				<p>Текущий сектор: {{ currentSector }}</p>
				<h6>Рейтинг игроков:</h6>
			</div>
			<div class="player-record-list">
				<transition-group name="players">
					<div
						v-for="(player, index) in playersRating"
						:key="player.id"
						:class="['player', 'player-active', {'gold': (index == 0 && player.points > 0), 'silver': (index == 1 && player.points > 0), 'bronze': (index == 2 && player.points > 0)}]"
					>
						<div class="player-active-wrapper">
							<img :src="'img/avatars/' + player.avatar + '.png'" alt="" class="pick-avatar">
							<div class="player-name">{{ player.name }}</div>
						</div>
						<img src="img/stats.png" alt="Статистикаы" class="player-stats">
						<p class="player-points">Очки: {{ player.points }}</p>
					</div>
				</transition-group>
			</div>

		</div>


		<div id="field" class="text">
			<div class="container x2">
				<div
					v-for="(sector, index) in sectors"
					:key="sector.value"
					:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
					:points="index * 2"
					class="sector"
					@click="shoot(sector.value * 2, sector.value == currentSector);"
				></div>
				<div class="container big">
						<div
							v-for="(sector, index) in sectors"
							:key="sector.value"
							:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
							:points="index"
							class="sector"
							@click="shoot(sector.value, sector.value == currentSector);"
						></div>
					<div class="container x3">
							<div
								v-for="(sector, index) in sectors"
								:key="sector.value"
								:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
								:points="index * 3"
								class="sector"
								@click="shoot(sector.value * 3, sector.value == currentSector)"
							></div>
						<div class="container small">
								<div
									v-for="(sector, index) in sectors"
									:key="sector.value"
									:style="'transform: rotate(' + index * 18 + 'deg) skewY(' + 108 + 'deg)'"
									:points="index"
									class="sector"
									@click="shoot(sector.value, sector.value == currentSector)"
								></div>
							<div class="mid25"
								@click="shoot(25, 50 == currentSector);"
							></div>
							<div class="mid50"
								@click="shoot(50, 50 == currentSector);"
								></div>
						</div>
					</div>		
				</div>
			</div>
		</div>

</div>
	<script src="js/scripts.min.js"></script>

</body>
</html>
