$font: Beresta, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
$accent: maroon
$text: #333
$dark: #070707
$grey: #101010
$light: #FEDC9F
$red: #900
$green: #060
$border: #666

// $aside-bga: #456098dd

$aside-bg: unquote('#a68464bb')
$gold: #ffd700
$silver: #c0c0c0
$bronze: #cd7f32